{% include base_path %}

{% if site.author.github or site.author.bitbucket or site.atom_feed.hide != true %}
<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}
    {% if site.author.github %}
      <li><a href="https://github.com/{{ site.author.github }}"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></li>
    {% endif %}
    {% if site.author.bitbucket %}
      <li><a href="https://bitbucket.org/{{ site.author.bitbucket }}"><i class="fab fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
    {% endif %}
    {% if site.atom_feed.hide != true %}
    <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ base_path }}/feed.xml{% endif %}"><i class="fa fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

<div class="page__footer-visitor-map">
  <span class="visitor-map__label">Visitor Map</span>
  <div class="visitor-map__widget">
    <script type="text/javascript" id="mapmyvisitors" src="https://mapmyvisitors.com/map.js?d=VhFlBo0lGIQLlW0DWLfta5fMG5kVcl88MVy6SsV1Tl0&amp;cl=ffffff&amp;w=a&amp;t=n"></script>
    <script>
      (function () {
        var container = document.currentScript.parentElement;
        var renderQueued = false;

        function renderVisitorDots() {
          renderQueued = false;
          var map = container.querySelector(".mapmyvisitors-map");
          var markers = Array.prototype.slice.call(
            container.querySelectorAll(".jvectormap-marker")
          );

          if (!map || !markers.length) return;

          var points = [];
          var seen = {};

          markers.forEach(function (marker) {
            var rawX = Number(marker.getAttribute("cx"));
            var rawY = Number(marker.getAttribute("cy"));
            var group = marker.closest("g[transform]");
            var transform = group && group.transform.baseVal.consolidate();
            var matrix = transform ? transform.matrix : marker.getCTM();
            var x = matrix ? matrix.a * rawX + matrix.c * rawY + matrix.e : rawX;
            var y = matrix ? matrix.b * rawX + matrix.d * rawY + matrix.f : rawY;
            x = x.toFixed(2);
            y = y.toFixed(2);
            var key = x + "," + y;

            if (!seen[key]) {
              seen[key] = true;
              points.push({ x: x, y: y });
            }
          });

          var signature = points.map(function (point) {
            return point.x + "," + point.y;
          }).join("|");
          var overlay = map.querySelector(".visitor-map__dots");

          if (overlay && overlay.getAttribute("data-points") === signature) return;

          if (!overlay) {
            overlay = document.createElementNS("http://www.w3.org/2000/svg", "svg");
            overlay.setAttribute("class", "visitor-map__dots");
            overlay.setAttribute("viewBox", "0 0 300 147");
            overlay.setAttribute("aria-hidden", "true");
            map.appendChild(overlay);
          }

          while (overlay.firstChild) overlay.removeChild(overlay.firstChild);
          overlay.setAttribute("data-points", signature);

          points.forEach(function (point) {
            var dot = document.createElementNS("http://www.w3.org/2000/svg", "circle");
            dot.setAttribute("cx", point.x);
            dot.setAttribute("cy", point.y);
            dot.setAttribute("r", "5");
            overlay.appendChild(dot);
          });
        }

        function queueRender() {
          if (renderQueued) return;
          renderQueued = true;
          window.requestAnimationFrame(renderVisitorDots);
        }

        new MutationObserver(queueRender).observe(container, {
          childList: true,
          subtree: true
        });
        window.addEventListener("resize", queueRender);
        queueRender();
      }());
    </script>
    <noscript>Visitor map requires JavaScript.</noscript>
  </div>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}, {{ site.data.ui-text[site.locale].powered_by | default: "Powered by" }} <a href="https://jekyllrb.com" rel="nofollow">Jekyll</a> &amp; <a href="https://github.com/academicpages/academicpages.github.io">AcademicPages</a>, a fork of <a href="https://mademistakes.com/work/minimal-mistakes-jekyll-theme/" rel="nofollow">Minimal Mistakes</a>.<br />
  Site last updated {{ "now" | date: '%Y-%m-%d' }}, <a href="/sitemap/" style="text-transform: uppercase;">{{ site.data.ui-text[site.locale].site_map | default: "Sitemap" }}</a>
</div>
